body, html, main {
    height: 100%;
    background: #D8DFE8;
}

.principal {
    height: 100%;
    
}

.texto {
    height: 100%;
}

.mensagem {
    background: #ffff;
    height: 944px;
    border-radius: 32px;
}